<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'rst2html/style.css' %}" />
<html>
<head>

<title>RST2HTML</title>
<div id="header">
<h1>Welcome To RST2HTML<h1>
<form action="{% url 'rst2html:logout_compilers' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" ><b>Logout</b></button>
                    </form>
</div>
<script>
function validateForm() {
    var x = document.inputs["textinputform"]["convert"].value;
    if (x == null || x == "") {
        alert("you don't enter your text");
        return false;
    }
}

function textcolor(input) {
    var x = document.getElementById("textinput");
    if(input == 'red'){x.style.color = "red";}
    if(input == 'blue'){x.style.color = "blue";}
    if(input == 'black'){x.style.color = "black";}
    if(input == 'green'){x.style.color = "green";}
}


function font(input) {
  var x = document.getElementById("textinput");
  if(input == 'smallest'){x.style.fontSize = ".5em"; }
  if(input == 'smal'){x.style.fontSize = "1em"; }
  if(input == 'normal'){x.style.fontSize = "1.5em"; }
  if(input == 'large'){x.style.fontSize = "2em"; }
  if(input == 'largest'){x.style.fontSize = "2.5em"; }
}

function dropdownclose1() {
    document.getElementById("myDropdown1").classList.toggle("show");
}

function dropdownclose2() {
    document.getElementById("myDropdown2").classList.toggle("show");
}
function addText(event) {
			    var targ = event.target || event.srcElement;
			    document.getElementById("textinput").value += targ.textContent || targ.innerText;
			}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
function preview(){
    var choice = document.getElementById("choice");
    if(choice="clean"){    alert("555");}
}
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=300,width=300,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>
</head>
<body>


<h3>UpLoad RST</h3><br>
<form action="{% url 'rst2html:upload' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="rstFile" id="rstFile" ><br>
         <select name="theme">
         <option value="clean">Clean</option>
         <option value="reveal">Reveal</option>
         <option value="deck">Deck</option>
         <option value="bootstrap">Bootstrap</option>
         <input type ="submit" value = "submit" />
         </select>
</form>

<br><br>
<p>Write Your Restructer Text Here!</p>
 <div class="dropdown">
    <button onclick="dropdownclose1()" class="dropbtn">Color</button>
    <div id="myDropdown1" class="dropdown-content">
      <a  href="javascript:void(0);"onclick="textcolor('red')" >red</a>
      <a  href="javascript:void(0);"onclick="textcolor('blue')">blue</a>
      <a  href="javascript:void(0);"onclick="textcolor('black')">black</a>
      <a  href="javascript:void(0);"onclick="textcolor('green')">green</a>
    </div>
  </div>


 <div class="dropdown">
    <button  onclick="dropdownclose2()" class="dropbtn">Size</button>
    <div id="myDropdown2" class="dropdown-content">
     <a href="javascript:void(0);" onclick="font('smallest')">
<span >Smallest</span></a>
      <a  href="javascript:void(0);" onclick="font('small')">
<span >Small</span></a>
      <a href="javascript:void(0);" onclick="font('normal')">
<span >Normal</span></a>
      <a href="javascript:void(0);" onclick="font('large')">
<span >Large</span></a>
      <a href="javascript:void(0);" onclick="font('largest')">
<span >Largest</span></a>
    </div>
  </div>
Images :
        <a href="JavaScript:newPopup({% url 'rst2html:uploadpage' %});" >Upload</a>
<div id =section>
<form name = "textinputform" action ="{% url 'rst2html:rst2html' %}"  onsubmit="return validateForm()">
<b> Name :</b>
<input type="text" name="rstname" placeholder="Enter your Presentation name here" maxlength="200" size="40">
<center><textarea name="convert" id="textinput"  rows="20" cols="100"  style="width: 1000px; height: 500px;" class="textbox"  placeholder="Enter Your Restructuretext..." ></textarea></center>
  </center>
  <center>
  <select name="theme" id="theme" >
            <option value="--deck-js --pretty-print-code --embed-content" >deck</option>
            <option value="">clean</option>
            <option value="--jquery --reveal-js --pretty-print-code">reveal</option>
            <option value="--bootstrap-css --pretty-print-code --jquery --embed-content">bootstrap</option>
  </select>
  <input type ="submit"  value = "submit"   />
 </form>
<div ng-app="previewSlides" ng-controller="previewSlidesController">
            <button ng-click="showPreview()" formaction="{% url 'rst2html:rst2html' %}"
                    formtarget="preview">
                Preview
            </button>
        
            <button ng-show="displayStatus" formaction="{% url 'rst2html:rst2html' %}"
                    formtarget="preview">
                Refresh
            </button>
            <br><br>
            <iframe ng-show="displayStatus" name="preview" width="100%" height="500"></iframe>
        </div>
</div>


</body>
</html>
